header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .header_content {
    height: 78px ;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 600px) {
      height: 90px ;
      margin-top: 12px ;
    }
    @media (max-width: 400px) {
      margin-top: 6px ;
    }
  }
  img {
    width: 155px;
    height: 36px;
  }
}
